@font-face {
	font-family: 'GlimpR';
	src: url('lib/assets/glimp-r/GlimpR-CondensedThin.ttf') format('truetype');
}

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
