@font-face {
	font-family: 'GlimpR';
	src: url('lib/assets/glimp-r/GlimpR-CondensedThin.ttf') format('truetype');
}

.page {
	border: 1px solid lightgrey;
	width: 600px;
	box-shadow: 5px 5px 4px 1px #7c7a7a;
}
h1 {
	font-size: 30px;
	font-weight: bold;
}

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
